LLDP neighbors
------------------------------------
{{ results.stdout[0] }}


OPSF Peers
------------------------------------
{{ results.stdout[1] }}


BGP Peers
------------------------------------
{{ results.stdout[2] }}
